:root{
  --text-color:#000000;
  --text-light:#515151;
  --color-accent: #FC9E9E;
  --color-turquoise: #78CCDE;
}

* {
  box-sizing: border-box;
}
  
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
    font-weight: 500;
  }

  .container{
    max-width: 1300px;
    margin: 0 auto;
  }

  body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;

  }

  .btn-main{
    background-color: var(--color-turquoise);
    color: white;
  }

  .btn-main:hover{
    background-color: var(--color-accent);
    color: white;
  }

  /* header */

  .navbar-top{
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: baseline;
  }

  .navbar-top_item{
    padding-left: 55px;
  }

  .navbar-bottom{
    border: 1px solid #D7D7D7;
  }

  .nav-bottom{
    display: flex;
    justify-content: space-between;
    height: 70px;
  }

  .nav-img{
    padding-top: 4px;
  }

  .nav-right{
    display: flex;
    align-items: center;
  }

  .nav-center{
    display: flex;
    align-items: center;
    padding: 0;
  }

  .nav-center_item{
    list-style: none;
    margin-left: 30px;
    position: relative;
  }

  .nav-center_item:first-child{
    margin: 0;
  }

  .nav-center_item:after{
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 1px;
    border-top: 2px solid var(--color-accent);
    transition: width 0.2s ease;
  }

  .nav-center_item:hover:after{
    width: 100%;
  }

  .nav-right_cart{
    padding-left: 20px;
  }

  .nav-right_cart__number{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--color-accent);
    position: relative;
    right: 8px;
    bottom: 10px;
  }

  .nav-right_cart__number p{
    margin: 2px 0;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
  }
  .breadcrumb-navigation{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .breadcrumb-navigation a{
    font-size: 12px;
    
    color: var(--text-color);
  }

  .breadcrumb-navigation span{
    color: var(--color-accent);
  }

  /* end header */

  /* slider */

  .top-banner{
    background: url(../images/index/main-banner.png) center no-repeat;
    height: 500px;
  }
  .banner_title{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    margin: 22px 0 0 0;
    padding-top: 12%;
  }
  .banner_text{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  .banner_btn{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 15px 65px;
    border-radius: 0;
  }
  .banner_btn:hover{
    background: rgba(255, 255, 255, 0.15)
  }

  /* end slider */

  /* category */
  .top-category{
    display: grid;
    margin-top: 22px;
    margin-bottom: 22px;
    gap: 20px;
    grid-template-columns: repeat(5,244px);
    grid-template-rows: 300px;
  }

  .top-category-col{
    background-color: var(--color-turquoise);
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .top-category-col:hover{
    font-size: 26px;
    transition: width 0.2s ease;
  }

  .top-category-col p{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 12px 0;
  }
  /* end category */

  /* bot banner */
  .bot-banner{
    background: url(../images/index/bot-banner.png) center no-repeat;
    height: 290px;
  }
  .banner_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .banner_block{
    margin: 100px 30px;
    width: 500px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  .banner_info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    margin: 0;
  }
  .banner_info_left{
    margin: 20px 0;
  }
  .banner_info_right{
    margin: 12px 0;
  }
  /* end bot banner */

  /* index map */
  .map-title-style{
    margin: 0 25px
  }
  .map_adress{
    margin: 0;
  }
  .map_wrapper{
    display: flex;
  }
  .map_wrapper_block-style{
    margin-bottom: 40px;
  }
  .map_wrapper_style{
    margin: 25px;
  }
  .map_img{
    margin-right: 10px;
    padding-bottom: 1px;
  }
  .map_block{
    max-width: 860px;
    max-height: 310px;
  }
  /* end index map */

  /* advantages */
  .advantages-index{
    display: grid;
    grid-template-columns: repeat( 3,420px);
    grid-template-rows: 70px;
    gap: 22px;
    margin-top: 22px;
    margin-bottom: 44px;
  }

  .advantages-item{
    display: flex;
    margin-right: 20px;
  }

  .advantages-item:last-child{
    display: flex;
    margin-right:0px;
  }

  .advantages-item_text{
    margin-left: 4%;
  }

  /* end advantages */
  /* recommendation-block */
  .index-h3{
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 22px;
  }

  .recommendation-block_grid{
    display: grid;
    grid-template-columns: repeat(4,309px);
    gap: 20px;
    grid-template-rows: 431px;
  }
  .recommendation-block-card-sale{
    width: 60px;
    height: 30px;
    background-color: var(--color-accent);
    color: white;
    position: absolute;
  }
  .recommendation-block-card-sale p{
    position: relative;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
  }
  .recommendation-block-card-text_name{
    font-size: 16px;
    color: var(--text-light);
    margin-top: 4px;
    margin-bottom: 0;
  }

  .recommendation-block-card-text_name:hover{
    color: var(--color-accent);
  }
  .recommendation-block-card-text_art{
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--text-light);
    font-size: 14px;
  }
  .recommendation-block-card-down{
    display: flex;
    justify-content: space-between;
  }
  .recommendation-block-card-down_price{
    font-size: 20px;
    color: var(--text-color);
    margin: 5px 0 0 0;
    
  }
  .recommendation-block-card-down_form{
    display: flex;
  }
  .recommendation-block-card-down-buy{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 9px 5px 9px;
    text-align: center;
  }

  
  /* end recommendation-block */
  /* footer */
  .nav-right-item{
    margin-left: 21px;
  }

  .copyright-text{
    margin: 21px 0;
    text-align: center;
    color: var(--text-light);
  }
  /* end footer */


  /* catalog page */
  .page-catalog{
    display: flex;
  }
  .catalog-filter{
    border: 1px solid #D7D7D7;
    width: 314px;
    padding: 32px 16px;
  }
  .catalog-filter_search{
    height: 40px;
    width: 282px;
  }
  .catalog-filter_search input{
    position: absolute;
    border: 1px solid #D7D7D7;
    height: 40px;
    width: 282px;
    padding: 6px 3px;
  }

  .catalog-filter_search input:focus{
    outline: none;
  }

  .catalog-filter_search button{
    cursor: pointer;
    position: relative;
    left: 240px;
    top: 6px;
    border: none;
    background: white;
  }

  .accordion-filter {
    background-color: white;
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion-filter:hover {
   color: var(--color-accent);
  }

  .panel-filter {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #D7D7D7;
  }


  .accordion-filter:after {
    content: url(../images/icon/triangle-down.svg); 
    float: right;
    margin-left: 5px;
  }

.active-filter:after {
  content: url(../images/icon/triangle-up.svg); 
}

.panel-filter_ul{
  padding-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.panel-filter_li{
 margin-top: 8px;
  color: var(--text-light);
}

.panel-filter_li a:hover{
  color: var(--color-accent);
 }

.panel-filter_li::marker{
  color:var(--color-turquoise);
}

.panel-filter-money{
  display: flex;
  justify-content: space-between;
}

.panel-filter_input{
  margin-top: 16px;
  width: 62px;
  height: 24px;
  border: 1px solid var(--color-turquoise);
  margin-bottom: 22px;
  font-size: 14px;
  padding: 6px;
}

.panel-filter_input:focus{
  outline: none;
  border: 1px solid var(--color-accent);
}

#slider-range{
  margin-bottom: 20px;
}
  /* end catalog page */

  /* about store */
  .title-h1{
    text-align: center;
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 40px;
  }
  .about-store_text_block{
    margin-bottom: 40px;
  }
  .about-store_text{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
  }
  .about-advantages{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-template-rows: 250px;
    gap: 155px;
    margin-bottom: 40px;
  }
  .about-advantahes_block{
    border: 1px solid #D7D7D7;
    text-align: center;
  }
  .about-adv_img{
    margin-top: 25px;
  }
  .about-adv_title{
    font-size: 24px;
    color: var(--text-color);
  }
  .about-adv_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--text-light);
    margin: 10px;
  }
  .about-pluses{
    margin-bottom: 40px;
  }
  .about-pluses_style_grid{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 40px;
  }
  .about-pluses_style{
    display: flex;
    margin-left: 150px;
  }
  .about-pluses_img{
    margin-right: 5px;
  }
  .about-pluses-text{
    font-size: 16px;
    color: var(--text-color);
  }
  /* end about store */

  /* payments block */
  .payments-steps{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .payments-steps_style{
    width: 330px;
    height: 80px;
    display: flex;
    border: 1px solid #D7D7D7;
    align-items: center;
  }
  .payments-steps_block-img{
    margin: 15px 22px 15px 47px;
    width: 50px;
    height: 50px;
  }
  .payments-info-block {
    width: 100%;
    border: 1px solid #D7D7D7;
    margin-bottom: 40px;
  }
  .payments-block_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .payments-block-text_info{
    width: 450px;
    font-size: 16px;
    color: var(--text-color);
  }
  .payments-block-adress{
    font-size: 16px;
    color: var(--text-light);
  }
  .payments-block-left{
    margin-left: 110px;
    margin-bottom: 20px;
  }
  .payments-block-right {
    margin-right: 110px;
  }
  .payments-pluses-text{
    font-size: 16px;
    margin: 10px 0;
  }
  .payments-var-block{
    width: 400px;
    height: 365px;
    border: 1px solid #D7D7D7;
    text-align: center;
  }
  .payemnts-var-title{
    font-size: 28px;
    margin-bottom: 20px;  
  }
  .payments-var-img{
    margin-bottom: 20px;
  }
  .payments-var-text{
    font-size: 16px;
    line-height: 20px;
    color: var(--text-light);
    width: 285px;
    margin: 15px auto;
  }
  .payments-cards-block{
    width: 530px;
    height: 225px;
    border: 1px solid #D7D7D7;
    text-align: center;
  }
  .payments-cards-style{
    margin: 34px auto;
  }
  /* end payments block */

